.navigation .navigation-list {
	text-align: center;
	list-style-type: none;
}

.navigation-item {
	display: inline;
	position: relative;
	margin: 1rem;
}

.main-body {
	text-align: center;
}

.list-item {
	list-style-position: inside;
}

.main-h4 {
	color: rgb(32, 218, 63);
}
.main-h2 {
	color: rgb(42, 38, 123);
	text-align: center;
}
.product-main {
	text-align: center;
	list-style-position: inside;
}
.product-img {
	width: 250px;
	height: auto;
}
